## Online Bookstore Database Solution Notebook

### Introduction
Welcome to the Online Bookstore Database Solution Notebook! In this notebook I'll be exploring the design, implementation, and querying our online database using SQL Server. 

### Prerequisites
In case you want to replicate this project, ensure that you have the following:

**1. SQL Server Management Studio (SSMS):**

* Download and install SSMS from Microsoft.

**2. Sample Data:**

* I will be using sample data for books, authors, customers, and orders. You can create your own or use the provided sample data files.

### Notebook Sections

**1. Database Schema and Constraints:**

* We will define the tables, primary keys, foreign keys, and other constraints.
* Create the necessary database objects using SQL scripts.

**2. Sample Data Insertion:**

* Populate the tables with sample data.
* Execute SQL `INSERT INTO` statements to add records.

**3. SQL Queries and Tasks:**

* Perform various tasks using SQL queries:
    * Update book prices.
    * Retrieve books published in a specific year.
    * Retrieve orders made by a particular customer.
    * Calculate total amount spent by each customer.
    * Find the highest-rated book.
    * Retrieve authors who have written books in a specific genre.
    * Identify customers who have given the most reviews.
    * Calculate average rating of books by each author.
    * Compare book prices with genre averages.
    * Explore additional queries based on your interests.

### Let's Get Started!

_Note: This notebook assumes familiarity with SQL concepts. If you're new to SQL, consider exploring introductory SQL tutorials before exploring into this notebook._

_Disclaimer: The provided notebook is a high-level overview. For detailed implementation, refer to the actual SQL scripts and database setup._

In [1]:
-- Create Database
CREATE DATABASE AllAboutDataBookStore;

In [3]:
-- Use Database
USE AllAboutDataBookStore;

In [3]:
-- Create Authors table
CREATE TABLE Authors (
    AuthorID INT PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Biography NVARCHAR(MAX)
);

In [4]:
-- Create Books table
CREATE TABLE Books (
    ISBN VARCHAR(20) PRIMARY KEY,
    Title NVARCHAR(100) NOT NULL,
    PublicationYear INT NOT NULL,
    Price DECIMAL(10, 2) NOT NULL,
    Genre NVARCHAR(50) NOT NULL,
    AuthorID INT,
    CONSTRAINT FK_AuthorID FOREIGN KEY (AuthorID) REFERENCES Authors(AuthorID)
);

In [5]:
-- Create Customers table
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100) NOT NULL,
    Address NVARCHAR(MAX) NOT NULL
);

In [6]:
-- Create Orders table
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATETIME NOT NULL,
    TotalPrice DECIMAL(10, 2) NOT NULL,
    CONSTRAINT FK_CustomerID FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

In [7]:
-- Create Reviews table
CREATE TABLE Reviews (
    ReviewID INT PRIMARY KEY,
    CustomerID INT,
    ISBN VARCHAR(20),
    Rating INT CHECK (Rating >= 1 AND Rating <= 5),
    Comments NVARCHAR(MAX),
    CONSTRAINT FK_CustomerID_Reviews FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
    CONSTRAINT FK_ISBN FOREIGN KEY (ISBN) REFERENCES Books(ISBN)
);

In [4]:
-- Insert sample data into Authors table
INSERT INTO Authors (AuthorID, Name, Biography) VALUES
(1, 'J.K. Rowling', 'British author known for the Harry Potter series'),
(2, 'George R.R. Martin', 'American novelist famous for A Song of Ice and Fire'),
(3, 'Agatha Christie', 'British mystery writer known for her detective novels'),
(4, 'Stephen King', 'American author of horror, supernatural fiction, and suspense novels'),
(5, 'Jane Austen', 'English novelist known for her romantic fiction'),
(6, 'Gabriel García Márquez', 'Colombian novelist and Nobel laureate in literature'),
(7, 'Haruki Murakami', 'Japanese author of surreal and philosophical fiction'),
(8, 'Margaret Atwood', 'Canadian author known for dystopian fiction'),
(9, 'Toni Morrison', 'American novelist and Nobel laureate in literature'),
(10, 'Kazuo Ishiguro', 'British-Japanese author of literary fiction'),
(11, 'Chimamanda Ngozi Adichie', 'Nigerian writer and feminist'),
(12, 'Neil Gaiman', 'English author of fantasy and graphic novels'),
(13, 'Octavia Butler', 'American science fiction writer known for her groundbreaking works'),
(14, 'Isaac Asimov', 'Russian-American author and biochemist, a prolific writer of science fiction'),
(15, 'Zadie Smith', 'British novelist and essayist with a unique literary voice'),
(16, 'Philip K. Dick', 'American writer of mind-bending science fiction and dystopian tales'),
(17, 'Jorge Luis Borges', 'Argentine writer, poet, and master of magical realism'),
(18, 'Terry Pratchett', 'English author known for humorous fantasy novels'),
(19, 'Ursula K. Le Guin', 'American writer of science fiction and fantasy'),
(20, 'J.R.R. Tolkien', 'British author, philologist, and creator of Middle-earth'),
(21, 'Ray Bradbury', 'American author of dystopian and speculative fiction'),
(22, 'Roald Dahl', 'British novelist and children''s book writer'),
(23, 'Harper Lee', 'American author known for "To Kill a Mockingbird"'),
(24, 'Ernest Hemingway', 'American novelist and Nobel laureate in literature'),
(25, 'Virginia Woolf', 'English writer and modernist'),
(26, 'F. Scott Fitzgerald', 'American novelist famous for "The Great Gatsby"'),
(27, 'Leo Tolstoy', 'Russian writer and philosopher'),
(28, 'Maya Angelou', 'American poet, memoirist, and civil rights activist'),
(29, 'Khaled Hosseini', 'Afghan-American novelist known for "The Kite Runner"'),
(30, 'Jhumpa Lahiri', 'Indian-American author of poignant short stories and novels'),
(31, 'Salman Rushdie', 'British-Indian novelist and magical realist'),
(32, 'Hermann Hesse', 'German-Swiss author of philosophical and spiritual works'),
(33, 'Emily Dickinson', 'American poet known for her enigmatic and introspective verses'),
(34, 'Mark Twain', 'American writer and humorist famous for "The Adventures of Huckleberry Finn"'),
(35, 'Edgar Allan Poe', 'American writer of dark and macabre tales'),
(36, 'Gabriel García Márquez', 'Colombian novelist and Nobel laureate in literature'),
(37, 'Louisa May Alcott', 'American author of "Little Women" and other beloved novels'),
(38, 'Octavio Paz', 'Mexican poet and essayist, Nobel laureate in literature'),
(39, 'Doris Lessing', 'British-Zimbabwean novelist and short story writer'),
(40, 'Italo Calvino', 'Italian writer known for his imaginative fiction'),
(41, 'Alice Walker', 'American novelist, poet, and activist'),
(42, 'Kurt Vonnegut', 'American author of satirical and science fiction novels'),
(43, 'Terry Eagleton', 'British literary theorist and critic'),
(44, 'Octavia E. Butler', 'American science fiction writer and MacArthur Fellow'),
(45, 'Kurt Vonnegut', 'American author of satirical and science fiction novels'),
(46, 'Zora Neale Hurston', 'American author and anthropologist'),
(47, 'Albert Camus', 'French philosopher and author of existentialist works'),
(48, 'Toni Morrison', 'American novelist and Nobel laureate in literature'),
(49, 'John Steinbeck', 'American author known for "The Grapes of Wrath"'),
(50, 'Virginia Woolf', 'English writer and modernist');

In [6]:
-- Insert sample data into Books table
INSERT INTO Books (ISBN, Title, PublicationYear, Price, Genre, AuthorID) VALUES
('9780439554930', 'Harry Potter and the Sorcerer''s Stone', 1997, 20.00, 'Fantasy', 1),
('9780553801477', 'A Game of Thrones', 1996, 25.00, 'Fantasy', 2),
('9780061120084', 'Murder on the Orient Express', 1934, 15.00, 'Mystery', 3),
('9780451167317', 'The Shining', 1977, 18.00, 'Horror', 4),
('9780141439563', 'Pride and Prejudice', 1813, 12.00, 'Romance', 5),
('9780307474278', 'One Hundred Years of Solitude', 1967, 22.00, 'Magical Realism', 6),
('9780099448792', 'Norwegian Wood', 1987, 16.00, 'Literary Fiction', 7),
('9780385504201', 'The Handmaid''s Tale', 1985, 21.00, 'Dystopian', 8),
('9781400032716', 'Beloved', 1987, 19.00, 'Literary Fiction', 9),
('9780571225395', 'Never Let Me Go', 2005, 17.00, 'Literary Fiction', 10),
('9780007121776', 'Half of a Yellow Sun', 2006, 14.00, 'Historical Fiction', 11),
('9780062255655', 'American Gods', 2001, 20.00, 'Fantasy', 12),
('9780446675536', 'Kindred', 1979, 16.00, 'Science Fiction', 13),
('9780553293357', 'Foundation', 1951, 14.00, 'Science Fiction', 14),
('9780140276041', 'White Teeth', 2000, 15.00, 'Literary Fiction', 15),
('9780547572482', 'Do Androids Dream of Electric Sheep?', 1968, 18.00, 'Science Fiction', 16),
('9780141189685', 'Ficciones', 1944, 13.00, 'Magical Realism', 17),
('9780062224682', 'Good Omens', 1990, 20.00, 'Fantasy', 18),
('9780441013593', 'The Left Hand of Darkness', 1969, 17.00, 'Science Fiction', 19),
('9780618346257', 'The Lord of the Rings', 1954, 30.00, 'Fantasy', 20),
('9780553103540', 'The Stand', 1978, 18.00, 'Horror', 4),
('9780679601393', 'The Catcher in the Rye', 1951, 15.00, 'Literary Fiction', 33),
('9780743273565', 'The Picture of Dorian Gray', 1890, 11.00, 'Gothic Fiction', 34),
('9780452284234', '1984', 1949, 14.00, 'Dystopian', 31),
('9780440180296', 'Brave New World', 1932, 13.00, 'Dystopian', 31),
('9780142437209', 'Moby-Dick', 1851, 16.00, 'Adventure', 35),
('9780345339683', 'Frankenstein', 1818, 12.00, 'Gothic Horror', 36),
('9780141439471', 'Wuthering Heights', 1847, 14.00, 'Gothic Fiction', 37),
('9780143039433', 'The Brothers Karamazov', 1880, 17.00, 'Philosophical Fiction', 27),
('9780451526342', 'Crime and Punishment', 1866, 15.00, 'Psychological Fiction', 27),
('9780141439587', 'Jane Eyre', 1847, 14.00, 'Gothic Fiction', 38),
('9781402713393', 'Great Expectations', 1861, 15.00, 'Literary Fiction', 39),
('9780143039952', 'Anna Karenina', 1877, 16.00, 'Realist Fiction', 27),
('9780451524997', 'Pride and Prejudice', 1813, 12.00, 'Romance', 5),
('9780143107632', 'To Kill a Mockingbird', 1960, 17.00, 'Southern Gothic', 23),
('9780143105447', 'The Great Gatsby', 1925, 16.00, 'Tragedy', 26),
('9780451527011', 'The Adventures of Huckleberry Finn', 1884, 15.00, 'Adventure', 34),
('9780451525260', 'The Scarlet Letter', 1850, 13.00, 'Romance', 40),
('9780679735779', 'Their Eyes Were Watching God', 1937, 14.00, 'Literary Fiction', 46),
('9780743273566', 'The Sun Also Rises', 1926, 15.00, 'Literary Fiction', 24),
('9781400033423', 'The Road', 2006, 19.00, 'Post-apocalyptic Fiction', 24),
('9780141439846', 'The Bell Jar', 1963, 16.00, 'Semi-autobiographical Fiction', 41),
('9780061120053', 'The Catcher in the Rye', 1951, 14.00, 'Coming-of-age Fiction', 33),
('9780385324463', 'The Chronicles of Narnia', 1950, 18.00, 'Fantasy', 20),
('9780743273567', 'The Grapes of Wrath', 1939, 17.00, 'Social Realism', 49),
('9780385265704', 'One Flew Over the Cuckoo''s Nest', 1962, 16.00, 'Psychological Fiction', 42),
('9780571313266', 'Sula', 1973, 15.00, 'African-American Literature', 48),
('9780679720201', 'Mrs. Dalloway', 1925, 16.00, 'Modernist Literature', 25),
('9780062315007', 'Beloved', 1987, 18.00, 'Postmodern Literature', 9),
('9780062256904', 'The Outsiders', 1967, 14.00, 'Young Adult Fiction', 50);

In [7]:
-- Insert sample data into Customers table
INSERT INTO Customers (CustomerID, Name, Email, Address) VALUES
(1, 'John Doe', 'johndoe@example.com', '123 Main Street, Anytown, USA'),
(2, 'Jane Smith', 'janesmith@example.com', '456 Elm Street, Othertown, USA'),
(3, 'Alice Johnson', 'alice@example.com', '789 Oak Avenue, Another Town, USA'),
(4, 'Bob Williams', 'bob@example.com', '101 Pine Road, Yet Another Town, USA'),
(5, 'Emily Brown', 'emily@example.com', '222 Maple Drive, Last Town, USA'),
(6, 'Michael Davis', 'michael@example.com', '333 Cedar Lane, Final Town, USA'),
(7, 'Sarah Wilson', 'sarah@example.com', '444 Birch Boulevard, End Town, USA'),
(8, 'David Garcia', 'david@example.com', '555 Walnut Way, Ultimate Town, USA'),
(9, 'Jessica Martinez', 'jessica@example.com', '666 Spruce Street, Supreme Town, USA'),
(10, 'Christopher Rodriguez', 'chris@example.com', '777 Oak Street, Paramount Town, USA'),
(11, 'Amanda Hernandez', 'amanda@example.com', '888 Elm Avenue, Primary Town, USA'),
(12, 'James Lopez', 'james@example.com', '999 Pine Lane, Capital Town, USA'),
(13, 'Jennifer Moore', 'jennifer@example.com', '111 Cedar Street, Supreme Town, USA'),
(14, 'Matthew Clark', 'matthew@example.com', '222 Birch Way, Paramount Town, USA'),
(15, 'Ashley Lewis', 'ashley@example.com', '333 Maple Avenue, Ultimate Town, USA'),
(16, 'Daniel Lee', 'daniel@example.com', '444 Pine Drive, Top Town, USA'),
(17, 'Kimberly Walker', 'kimberly@example.com', '555 Oak Boulevard, Final Town, USA'),
(18, 'Joseph Hall', 'joseph@example.com', '666 Elm Lane, Primary Town, USA'),
(19, 'Melissa Allen', 'melissa@example.com', '777 Spruce Street, End Town, USA'),
(20, 'Andrew Young', 'andrew@example.com', '888 Walnut Avenue, Supreme Town, USA'),
(21, 'Jessica Hernandez', 'jessicah@example.com', '999 Cedar Way, Paramount Town, USA'),
(22, 'Christopher King', 'chris@example.com', '101 Pine Street, Ultimate Town, USA'),
(23, 'Amanda Wright', 'amanda@example.com', '111 Birch Drive, Top Town, USA'),
(24, 'James Scott', 'james@example.com', '121 Maple Lane, Final Town, USA'),
(25, 'Megan Green', 'megan@example.com', '131 Oak Street, Primary Town, USA'),
(26, 'Ryan Adams', 'ryan@example.com', '141 Elm Avenue, End Town, USA'),
(27, 'Nicole Baker', 'nicole@example.com', '151 Spruce Way, Supreme Town, USA'),
(28, 'Justin Garcia', 'justin@example.com', '161 Walnut Street, Paramount Town, USA'),
(29, 'Samantha Young', 'samantha@example.com', '171 Cedar Drive, Ultimate Town, USA'),
(30, 'Robert White', 'robert@example.com', '181 Birch Lane, Top Town, USA'),
(31, 'Emily Johnson', 'emilyj@example.com', '191 Maple Street, Final Town, USA'),
(32, 'Tyler Moore', 'tyler@example.com', '201 Oak Way, Primary Town, USA'),
(33, 'Rachel Hill', 'rachel@example.com', '211 Elm Avenue, End Town, USA'),
(34, 'Brandon Cook', 'brandon@example.com', '221 Spruce Lane, Supreme Town, USA'),
(35, 'Rebecca Turner', 'rebecca@example.com', '231 Walnut Boulevard, Paramount Town, USA'),
(36, 'Jordan Parker', 'jordan@example.com', '241 Cedar Street, Ultimate Town, USA'),
(37, 'Hannah Cooper', 'hannah@example.com', '251 Birch Way, Top Town, USA'),
(38, 'David Gonzales', 'davidg@example.com', '261 Maple Avenue, Final Town, USA'),
(39, 'Kaitlyn Stewart', 'kaitlyn@example.com', '271 Oak Drive, Primary Town, USA'),
(40, 'Erica Carter', 'erica@example.com', '281 Elm Street, End Town, USA'),
(41, 'Kevin Diaz', 'kevin@example.com', '291 Spruce Avenue, Supreme Town, USA'),
(42, 'Maria Reed', 'maria@example.com', '301 Walnut Drive, Paramount Town, USA'),
(43, 'Joshua Martinez', 'joshua@example.com', '311 Cedar Lane, Ultimate Town, USA'),
(44, 'Lauren James', 'lauren@example.com', '321 Birch Street, Top Town, USA'),
(45, 'Cody Morris', 'cody@example.com', '331 Maple Way, Final Town, USA'),
(46, 'Alexis Adams', 'alexis@example.com', '341 Oak Lane, Primary Town, USA'),
(47, 'Michaela Wright', 'michaelaw@example.com', '351 Elm Street, End Town, USA'),
(48, 'Dylan Rodriguez', 'dylan@example.com', '361 Spruce Avenue, Supreme Town, USA'),
(49, 'Kelsey Bell', 'kelsey@example.com', '371 Walnut Way, Paramount Town, USA'),
(50, 'Isaac Rivera', 'isaac@example.com', '381 Cedar Street, Ultimate Town, USA');

In [ ]:
-- Insert sample data into Orders table
INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalPrice) VALUES
(1, 1, '2024-02-22', 45.00),
(2, 2, '2024-02-22', 25.00),